* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 48.43vw 51.57vw;
    grid-template-rows: 23.26vh 55.81vh 20.93vh;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: 1/2; */
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-row: 1/3; */
}

#section1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#section2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    grid-column: 1/2;
    grid-row: 3/4;
}
