/* page reset */
* {
    padding: 0;
    margin: 0;
}

/* scroll behavior */
html {
    scroll-behavior: smooth;
}
/* standard type */
body {
    margin: 0;
    padding: 0;
}
/* navigation bar settings */
nav {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    float: left;
}
a {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a:hover,
nav ul li a:focus {
    color: #db1447;
}
/* Markvanderburg section */
#Mburg {
    height: 1080px;
    background-image: url("images/background.jpg");
    display: inline-block;
    width: 100%;
}
/* Aboutme section */
#Ame {
    height: 1080px;
    background: #0C131F;
    display: inline-block;
    width: 100%;
}
/* Contact section */
#Contact {
    height: 1080px;
    background: #0C131F;
    display: inline-block;
    width: 100%;
}
/* padding for h1,h2,h3,p */
h1,h2,h3,p {
    padding: 1em;
}
/* heading 1 settings */
h1,h2 {
    color: #fff;
    font-family: 'Merriweather', serif;
}
/* transparent bar settings */
.overlay {
    opacity: 85%;
    margin-left: 300px;
    margin-top: 120px;
    border-radius: 10px;
    background-color: black;
    width: 1300px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    margin-top: 4px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}
/* Sumbit button for sending mail */
.submit {
    background-color: #503A4E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
.submit:hover {
    background-color: firebrick;
}
/* Add a background color and some padding around the contact form */
.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* Self image border and position */
.image img {
    margin-left: 1200px;
    margin-top: 200px;
    width: 400px;
    border: solid 10px;
}
/* Aboutme text color and  */
.Aboutme {
    color: white;
    width: 70%;
    font-size: 20px;
}
.Tools {
    color: white;
    font-size: 30px;
    width: 50px;
}
.contact {
    margin-top: 50px;
}
.logo img{width: 100px;}

.codeimg img {
    margin-right: 100px;
    float: right;
    border: solid 6px white;
}
.Social {
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.Social img {
    width: 80%;
}
.im {
    margin-top: 50px;
}
footer {
    margin-top: -300px;
    color: #ccc;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 13px;
}
